.carpark {
  padding: 0 0 20px 0;
}
.bus {
  width: 130px;
  height: 130px;
}
.bus-E {
  background: url('../bus/bus-east.png') center no-repeat;
}
.bus-N {
  background-image: url('../bus/bus-north.png');
}
.bus-S {
  background-image: url('../bus/bus-south.png');
}
.bus-W {
  background-image: url('../bus/bus-west.png');
}

textarea {
  width: 50%;
  height: 200px;
}
